* {
  box-sizing: border-box;
  text-align: center;
}

body {
	margin: 0;
	padding: 0;
	font-family: Veranda;
	font-size: 18px;
	background-color: #777;
}

header {
	 padding: 20px;
     margin-bottom: 20px;
     margin-left: 125px;
     margin-right: 125px;
     margin-top: 10px;
     color: #777;
     background: #ebebeb;
}

#nav {
	padding: 10px;
    margin-bottom: 20px;
    margin-left: 125px;
    margin-right: 125px;
    margin-top: -10px;
    height: 68px;
    color: #777;
    background: #ebebeb;	
}

#aside {
	float: right;
	padding: 20px;
	margin-right: 125px;
	margin-left: 10px;
	height: 292px;
	width: 442px;
	color: #777;
	background: #ebebeb;
}

#section {
	float: left;
	padding: 20px;
	margin-left: 125px;
	height: 292px;
	width: 639px;
	color: #777;
	background: #ebebeb;
}

#article  {
	position: absolute;
  	right: 624px;
  	bottom: 222px;
  	width: 593px;
  	height: 203px;
  	padding: 4px;
  	text-align: center;
  	color: #ebebeb;
  	background: #777;
}

#headers {
	position: absolute;
	float: left;
	right: 667px;
  	bottom: 329px;
	color: #777;
	background: #ebebeb;
	height: 43px;
	width: 500px;
	padding: 10px;

}

footer {
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 125px;
  margin-left: 125px;
  margin-top: 268px;
  height:20;
  width:20;
  color: #777;
  background: #ebebeb;
}

/*changes*/
